/*
$m-start: 550px;
$l-start: 850px;

$breakpoints: (
	's': (0, $m-start - 1),
	'm': ($m-start, $l-start - 1),
	'l': ($l-start, 'inf')
);
*/
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 300;
  src: local("Halant Light"), local("Halant-Light"), url(http://fonts.gstatic.com/s/halant/v1/Xu5LrOMBL0Zr10_6KDVgICZ2oysoEQEeKwjgmXLRnTc.ttf) format("truetype"); }
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 400;
  src: local("Halant"), local("Halant-Regular"), url(http://fonts.gstatic.com/s/halant/v1/lgvofn5OAEaLKGuTukbqD-vvDin1pK8aKteLpeZ5c0A.ttf) format("truetype"); }
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 600;
  src: local("Halant Semibold"), local("Halant-Semibold"), url(http://fonts.gstatic.com/s/halant/v1/1Bn2ieBRu5B49v4PrWNaiSZ2oysoEQEeKwjgmXLRnTc.ttf) format("truetype"); }
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(http://fonts.gstatic.com/s/oswald/v10/lXoKq2PC8Z_S1wl-BwvrB-vvDin1pK8aKteLpeZ5c0A.ttf) format("truetype"); }
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-family: Halant, Georgia, Times, 'Times New Roman', serif;
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-bottom: .5em; }

h1 span.subtitle {
  display: block;
  font-size: 60%;
  margin-top: .15em; }

a {
  text-decoration: none;
  color: #308ce8; }

a:hover {
  color: #0a66c2;
  text-decoration: underline; }

a:active {
  color: #031a30; }

sup {
  display: inline-block;
  font-size: .75em;
  line-height: 0;
  margin-top: -.75em; }

.article_body {
  width: 100%;
  font-size: 2.4rem;
  padding-bottom: 3em; }
  .article_body h2, .article_body h3, .article_body h4, .article_body h5, .article_body h6 {
    margin-top: 1.5em; }
  .article_body .content_width {
    max-width: 32em;
    padding: 0 2em;
    margin: 0 auto; }
  .article_body .logo_header {
    padding-top: 3em;
    padding-bottom: 1.5em;
    text-align: center; }
    .article_body .logo_header img {
      width: 40px; }
  .article_body h1 {
    font-size: 2.2em;
    line-height: 1.2;
    margin-bottom: .75em; }
  .article_body h2 {
    font-size: 1.5em; }
  .article_body time {
    display: block;
    text-transform: uppercase;
    font-size: .75em;
    margin: 0 0 0 0; }
  .article_body p {
    line-height: 1.5;
    margin-bottom: 1em;
    font-size: 1em; }
  .article_body figure {
    margin: 2.5em 0; }
  .article_body ul {
    list-style-type: circle;
    margin: 1.5em 0; }
  .article_body li {
    line-height: 1.2;
    margin-bottom: .75em; }
  .article_body ul,
  .article_body ol {
    margin-left: 1em; }
  .article_body blockquote {
    position: relative;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0;
    margin: 3em 0;
    overflow: auto; }
    .article_body blockquote:before, .article_body blockquote:after {
      display: block;
      content: '';
      position: relative;
      height: 1px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      clear: both;
      background: linear-gradient(90deg, #aaaaaa 0%, rgba(170, 170, 170, 0.4) 100%); }
    .article_body blockquote:before {
      margin-bottom: 2em; }
    .article_body blockquote:after {
      margin-top: 2em; }
    .article_body blockquote cite {
      display: block;
      font-size: .75em;
      font-style: normal;
      font-weight: 400; }
    .article_body blockquote p:last-of-type {
      margin-bottom: .5em; }
  .article_body .full_bleed {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto; }
  @media screen and (min-width: 550px) and (max-width: 1024px) {
    .article_body {
      font-size: 2.1rem; } }
  @media screen and (max-width: 549px) {
    .article_body {
      font-size: 1.8rem; }
      .article_body .logo_header {
        text-align: left;
        padding-top: 2em; } }

/*# sourceMappingURL=article_base.css.map */
