@import '../../src/scss/modules/settings';
@import '../../src/ag_lib/scss/responsive';

$article_images:(
	sketch_two: (
		l: (img:'imgs/sketch_2_l.jpg', w:900px, h:1174px),
		m: (img:'imgs/sketch_2_l.jpg', w:900px, h:1174px),
		s: (img:'imgs/sketch_2_l.jpg', w:900px, h:1174px)
	),
	sketch_three: (
		l: (img:'imgs/sketch_3_l.jpg', w:900px, h:660px),
		m: (img:'imgs/sketch_3_l.jpg', w:900px, h:660px),
		s: (img:'imgs/sketch_3_l.jpg', w:900px, h:660px)
	),
	sketch_four: (
		l: (img:'imgs/sketch_4_l.jpg', w:900px, h:621px),
		m: (img:'imgs/sketch_4_l.jpg', w:900px, h:621px),
		s: (img:'imgs/sketch_4_l.jpg', w:900px, h:621px)
	),
	sketch_five: (
		l: (img:'imgs/sketch_5_l.jpg', w:900px, h:621px),
		m: (img:'imgs/sketch_5_l.jpg', w:900px, h:621px),
		s: (img:'imgs/sketch_5_l.jpg', w:900px, h:621px)
	),
	logo_iterations: (
		l: (img:'imgs/logo_iterations_l.jpg', w:900px, h:548px),
		m: (img:'imgs/logo_iterations_l.jpg', w:900px, h:548px),
		s: (img:'imgs/logo_iterations_l.jpg', w:900px, h:548px)
	),
	symmetry: (
		l: (img:'imgs/symmetry_l.png', w:1000px, h:440px),
		m: (img:'imgs/symmetry_l.png', w:1000px, h:440px),
		s: (img:'imgs/symmetry_l.png', w:1000px, h:440px)
	),
	ma: (
		l: (img:'imgs/ma.png', w:300px, h:149px),
		m: (img:'imgs/ma.png', w:300px, h:149px),
		s: (img:'imgs/ma.png', w:300px, h:149px)
	),
	red_mark: (
		l: (img:'imgs/red_mark_l.png', w:500px, h:500px),
		m: (img:'imgs/red_mark_l.png', w:500px, h:500px),
		s: (img:'imgs/red_mark_l.png', w:500px, h:500px)
	),
	red_vert: (
		l: (img:'imgs/red_vert_l.png', w:500px, h:500px),
		m: (img:'imgs/red_vert_l.png', w:500px, h:500px),
		s: (img:'imgs/red_vert_l.png', w:500px, h:500px)
	),
	red_horz: (
		l: (img:'imgs/red_horz_l.png', w:1125px, h:500px),
		m: (img:'imgs/red_horz_l.png', w:1125px, h:500px),
		s: (img:'imgs/red_horz_l.png', w:1125px, h:500px)
	),
	wireframe: (
		l: (img:'imgs/wireframe_l.jpg', w:1124px, h:1306px),
		m: (img:'imgs/wireframe_l.jpg', w:1124px, h:1306px),
		s: (img:'imgs/wireframe_l.jpg', w:1124px, h:1306px)
	)
);
$image_map: map-merge($image_map, $article_images);


.article_body {

	//IMAGE ASSIGNMENTS
	
	.sketch_two       { @include image(sketch_two, true); }
	.sketch_three     { @include image(sketch_three, true); }
	.sketch_four      { @include image(sketch_four, true); }
	.sketch_five      { @include image(sketch_five, true); }
	.logo_iterations  { @include image(logo_iterations, true); }
	.symmetry         { @include image(symmetry, true); }
	.ma_illustration  { @include image(ma, true); }
	.red_mark         { @include image(red_mark, true); }
	.red_vert         { @include image(red_vert, true); }
	.red_horz         { @include image(red_horz, true); }
	.wireframes       { @include image(wireframe, true); }

	//GENERAL STYLES
	.content_imgs {
		@include content_width();
		@include viewport(s){
			max-width: 100%;
			padding: 0;
		}
	}

	.image_expansion {
		width: 100%;
		max-width: 1000px;
		margin: 2.5em auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.column  { 
		width: 49%; 
	
		@include viewport(s){
			width: 100%;
		}
	}
	
	.sketch {
		width: 100%;
		margin: 0 0 5%;
		
		&:last-of-type {
			margin-bottom: 0;
		}
		
		&.sketch_three {
			@include viewport(s){
				margin-bottom: 5%;
			}
		}
	}
	
	.ma_illustration {
		width: 175px;
		float: left;
		margin: .5em 1em 0 0;
		display: inline-block;
		
		@include viewport(m){
			width: 150px;
		}
		@include viewport(s){
			width: 130px;
		}
	}
	
	.logo_square { 
		width: 22.5%;
		margin: 0 0 2%;
		
		@include viewport(s){
			width: 49%;
		}
	}
	
	.logo_long { 
		width: 50.5%;
		margin: 0 0 2%;
		
		@include viewport(s){
			width: 100%;
		}
	}
	
	.symmetry {
		max-width: 550px;
	}
}