/*
$m-start: 550px;
$l-start: 850px;

$breakpoints: (
	's': (0, $m-start - 1),
	'm': ($m-start, $l-start - 1),
	'l': ($l-start, 'inf')
);
*/
.happy_place_full {
  border: solid 1px #ccc; }
  @media screen and (max-width: 549px) {
    .happy_place_full {
      position: relative;
      width: 100%;
      max-width: 1400px; }
      .happy_place_full::before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: 33.27273%;
        background-image: url("imgs/happy_place_s.jpg");
        background-size: contain;
        background-repeat: no-repeat; } }
    @media only screen and (max-width: 549px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 549px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 549px) and (-o-min-device-pixel-ratio: 2), only screen and (max-width: 549px) and (min-device-pixel-ratio: 2), only screen and (max-width: 549px) and (min-resolution: 190dpi), only screen and (max-width: 549px) and (min-resolution: 2dppx) {
      .happy_place_full::before {
        background-image: url("imgs/happy_place_s_@2x.jpg"); } }

  @media screen and (min-width: 550px) and (max-width: 1024px) {
    .happy_place_full {
      position: relative;
      width: 100%;
      max-width: 1400px; }
      .happy_place_full::before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: 33.30078%;
        background-image: url("imgs/happy_place_m.jpg");
        background-size: contain;
        background-repeat: no-repeat; } }
    @media only screen and (min-width: 550px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 550px) and (max-width: 1024px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 550px) and (max-width: 1024px) and (-o-min-device-pixel-ratio: 2), only screen and (min-width: 550px) and (max-width: 1024px) and (min-device-pixel-ratio: 2), only screen and (min-width: 550px) and (max-width: 1024px) and (min-resolution: 190dpi), only screen and (min-width: 550px) and (max-width: 1024px) and (min-resolution: 2dppx) {
      .happy_place_full::before {
        background-image: url("imgs/happy_place_m_@2x.jpg"); } }

  @media screen and (min-width: 1025px) {
    .happy_place_full {
      position: relative;
      width: 100%;
      max-width: 1400px; }
      .happy_place_full::before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: 33.35714%;
        background-image: url("imgs/happy_place_l.jpg");
        background-size: contain;
        background-repeat: no-repeat; } }
    @media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1025px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 1025px) and (-o-min-device-pixel-ratio: 2), only screen and (min-width: 1025px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1025px) and (min-resolution: 190dpi), only screen and (min-width: 1025px) and (min-resolution: 2dppx) {
      .happy_place_full::before {
        background-image: url("imgs/happy_place_l_@2x.jpg"); } }

  @media screen and (max-width: 1400px) {
    .happy_place_full {
      border-left-width: 0;
      border-right-width: 0; } }

/*# sourceMappingURL=article_style.css.map */
